/** Your custom theme CSS goes here. **/
body { 
	padding-top: 50px; 
}
.sectionnav {
	margin: 15px 0;
}
.sectionlink {
	line-height: 120%;
}
.sectionlink.right {
	text-align: right;
}
.citation, .license {
	margin: 15px 0;
	line-height: 120%;
	font-size: 0.85em;	
}
.cover {
	margin-top: 20px;
}

body,
h1,h2,h3,h4,h5,h6,
input,
button,
select,
textarea,
.navbar-search .search-query {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.2em;
}

p {
  text-indent: 1.5em;
  margin-top: 0;
  margin-bottom: 0; 
}
article > p:first-child {
    text-indent: 0;
}
article > p:first-child:first-letter { 
	float: left; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
}

article > table {
	margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid black;
	vertical-align: top;
	padding: 0 5px;
}
th {
	font-weight: bold;
}
blockquote {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 0;
	border-left: 0;
	font-size: 0.85em;
}
blockquote > p {
	text-indent: 0;
}
blockquote + p {
	text-indent: 0;
}

div.footnotes {
	margin-top: 2em;
}

.right {
	text-align: right;
}

dt {
	margin-top: 1em;
}
section.footnotes > ol::before {
	content: "Notes:";
}
div.cover p {
	text-indent: 0;
	font-size: 75%;
}
div.cover img {
	width: 100%;
}
.scrollable-menu {
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}
