{% for p in site.pages %}
  {% if p.group == "sections" %}
    {% if getnext == true %}
      {% assign next = p %}
      {% break %}
    {% elsif page.id == p.id %}
      {% assign getnext = true %}
    {% else %}
      {% assign previous = p %}
    {% endif %}
  {% endif %}
{% endfor %}

<header>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        {% if page.header %}
          {% include {{ page.header }} %}
        {% else %}
          <div class="col-sm-12 col-lg-12">
          {% include sectionnav.html %}
            <h1>{{ page.title }}</h1>
          {% include citation.html %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.breadcrumb %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <ol class="breadcrumb">
            {% for link in page.breadcrumb %}
              <li{% if page.url == link.href %} class="active"{% endif %}><a href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  {% endif %}
</header>
</header>
