<h1>Hello, world!</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
<p>
  <a href="/about/" class="btn btn-primary btn-lg" role="button">Learn more »</a>
  <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#video-modal"><span class="glyphicon glyphicon-play-circle"></span> Watch Video</a>
  {% include modal.html id='video' title='Amazing Video' body='modals/video.html' %}
</p>
