<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    {% if page.header != nil %}
      {% if page.header %}
        {% include {{ page.header }} %}
      {% endif %}
    {% else %}
      {% if site.header %}
        {% include {{ site.header }} %}
      {% else %}
        {% include header.html %}
      {% endif %}
    {% endif %}
    <div class="container">
      <div class="row">
	      <div class="cover col-md-4">
	      	{% include cover.html %}
	      </div>
  		  <div id="edintro" class="col-md-8">
    			<h2>{% include citation.html %}</h2>
          <ul class="nav nav-pills contentslink">
            <li class="active"><a href="{{ site.contentslink }}">Contents</a></li>
          </ul>
          <article id="preface" class="post-content">
            {{ content }}
          </article>
  	  </div>
	  </div>

    {% if site.pageindex %}
    <div class="row">
      <div class="col-med-12">
        <h3 id="pages">Pages</h3>
        {% for image in site.sections %}
        <div class="page">
          <a href="{{ image.image }}.html">
            <img src="thumbs/{{ image.image }}.jpg" alt="{{ image.label }}" style="width: 100%; max-width: 225px" >
          </a>
          <div class="caption">{{ image.title }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% include footer.html %}
  </body>
</html>
