---
layout: default
---
{% for p in site.sections %}
  {% if p.group == "sections" %}
    {% if getnext == true %}
      {% assign next = p %}
      {% break %}
    {% elsif page.id == p.id %}
      {% assign getnext = true %}
    {% else %}
      {% assign previous = p %}
    {% endif %}
  {% endif %}
{% endfor %}


<div class="post">
  <article id="{{ page.id }}" class="post-content">
    {% if page.image %}
    <div class="image">
      {% if next %}<a href="{{ next.permalink }}" class="nxt">{% endif %}
        <img src="web/{{ page.image }}.jpg"/>
      {% if next %}</a>{% endif %}
    </div>
    <h2>Transcription</h2>
    {% endif %}
    {% if site.keeph2 || page.keeph2 %}
      {{ content }}
    {% else %}
<!-- 
    This is where we make changes to the html output of the markdown
    transformation before it is inserted into the page.

  In this case we want to remove the first h2 header, since the chapter
  title is displayed in the jumbotron div.
-->
      {{ content        
        | replace_regex: '<h2.*</h2>', '', true 
      }}
    {% endif %}
  </article>

</div>
